<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Magic Mirror</title>
</head>
<body>
    <section id="time">
        <span id="current-time"></span>
    </section>
    <section id="weather">
        {{ weather.temp }}°C, {{ weather.description }}<br>
        <span style="font-size:0.9em;">{{ weather.location }}</span>
    </section>
    <section id="music">
        <strong>{{ spotify.track }}</strong> <span style="font-size:0.95em;">by</span> {{ spotify.artist }}
    </section>
</body>
</html>